{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block titulo %}Livros disponiveis{% endblock titulo %}

{% block conteudo %}
<h2 class="text-center mb-4" style="font-family: 'Playfair Display', serif;">Livros Disponíveis</h2>
<div class="row justify-content-center mt-3">
    <div class="col-md-6">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar livros..." aria-label="Search">
            <button class="btn btn-dark" type="submit">Buscar</button>
        </form>
    </div>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
    {% for livro in livros %}
        {{macros.card_livro(livro.imagem, livro.titulo, livro.autor)}}
    {% endfor %}
</div>
{% endblock conteudo %}